@use  '../palette.scss' as Colors;

// $button-sizes: ("primary": Colors.$primary, "secondary": $pale-cyan);

@mixin Button{
    text-align: center;
    border-radius: 2.5rem;
    padding: 8px 16px;
    text-decoration: none;
    border: none;
    box-shadow: none;
    display: inline-block;
    &:hover {
        cursor: pointer;
    }
}

