@import  './palette.scss';
@import './components/button';
@use './components//button' as *;

.title {
    padding-top: 3rem;
    padding-left: 2.3rem;
    padding-right: 2.3rem;
    bottom: 0%;
}
.subcontent-hero {
    padding: 1rem 2rem;
}

.space {

}
// Hero

.logo {
    width: 125px;
}

.mockupImg {
    object-fit: fill;
    display: block;
    max-width: 100%;
}
.imageContainer {
    padding: 1.5rem;
}

.btn-primary {
    @include Button;
    background-color: $primary;
    color: $pale-cyan;
    width: fit-content;
    font-weight: bold;
}

.hero{
    padding: 2em 0%;
    background: url('../../images/bg-hero-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $pale-cyan;
}

.navbar {
    margin-left: 2rem;
    margin-right: 2rem;
}