@import './palette.scss';
@import './typography.scss';
@import './components/button';
@import './components/card';

.container {
    padding: .2rem;
    margin: .2rem;
}

// Mobile styles
.primary{
    color: $primary;
}
.btn-primary {
    @include btn-primary;
    background-color: $primary;
}
.btn-secondary {
    background-color: $pale-cyan;
    border-radius: 2%;
    text-align: center;
    text-decoration: none;
    border: none;
}

// Content/Cards

.card {
    @include card;
}

.card-title{
    @include card-title
}

.card-body{
    @include card-body;
    color: $grayish-blue
}

.card-img{
    @include card-img;
    margin: 30px 10px 20px 10px ;
}

.prueba {
    color: red;
}

// Hero

.logo {
    width: 125px;
}

//Footer
.logo-footer {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-top: 20px;
}
.caja{
    display: flex;
    align-items: top;
    margin: 10px;
}
.caja-logo-redes{
    text-align: center;
}
.logo-redes{
    color: white;
    background-color: $dark-cyan;
    border: 1px solid white;
    border-radius: 100%;
    
    width: 10px;
}
footer {
    background-color: $dark-cyan;
    color: white;
    padding: 15px;
    p {
        margin: 0;
        margin-top: 15px;
        padding: 0;
    }
    i {
        margin: 10px;
        padding: 10px 15px 10px 10px;
    }
}

// Desktop styles

@media (min-width: 700px){

    .card {
        @include card-d;
    }

    .card-title{
        @include card-title-d;
    }

    .card-body{
        @include card-body-d;
        color: $grayish-blue
    }

    .card-img{
        @include card-img-d;
    }

    .row-reverse{
        @include row-reverse;
    }

}
    
@include demo-typography();
