@import './palette.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@mixin demo-typography() {
  * {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400 700;
  }

   h1, h2, h3, h4, h5 {
       font-family: 'Poppins', sans-serif;
       font-weight: 600;
   }

  .subContent{
    color: $grayish-blue;
    text-align: justify;
  }

  // h1 {
  //   font-weight: bold;
  //   font-size: 3rem;
  //   line-height: 4rem;
  //   margin-bottom: 3rem;
  //   margin-top: 2.5rem;
  // }

  // h2 {
  //   font-size: 2rem;
  //   line-height: 3rem;
  //   margin-bottom: 2rem;
  // }

  p, b, strong, i, em, mark, del, ins {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 0.8rem;
    font-family: "Open Sans", sans-serif;
  }

  a {
    font-size: 1.2rem;
    line-height: 2rem;
    cursor: pointer;
    text-decoration: underline;
  }

  .medium-typography {
    h1 {
      font-size: 2.6rem;
      line-height: 3.1rem;
      margin-bottom: 2.1rem;
    }

    h2 {
      font-size: 2.5rem;
      line-height: 3.2rem;
      margin-bottom: 1.7rem;
    }

    p, b, strong, i, em, mark, del, ins {
      font-size: 1.2rem;
      line-height: 2.3rem;
      margin-bottom: 0.6rem;
    }
  }

  .mobile-typography {
    h1 {
      font-size: 3.1rem;
      line-height: 2.6rem;
      margin-bottom: 2.1rem;
    }

    h2 {
      font-size: 2rem;
      line-height: 2.7rem;
      margin-bottom: 1.7rem;
    }

    p, b, strong, i, em, mark, del, ins {
      font-size: 1rem;
      line-height: 2rem;
      margin-bottom: 0.6rem;
    }
  }
}